@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  margin: 0;padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html,body{
  background-color: black;
  width: 100%;
  height: 100%;
}

/* This is to remove arrow from input field type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}